<html xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="userBox">

	<h4 th:text="${session.user.email}" style="padding: 4px;margin: 0;text-transform: uppercase;"></h4>
	<div style="text-align:center;padding: 10px;background-color: rgb(240,240,240);">
		<img style="vertical-align:top;width: 150px;height: 150px;padding: 0px;" src="https://i.ytimg.com/vi/RLmz6R0Rggc/maxresdefault.jpg" class="circular"></img>
		<div style="display: inline-block;padding: 10px;text-align: left;">
			<strong>ABONNEMENTS</strong><br />
			120<br />
			<div style="padding-top: 6px;"></div>
			<strong >ABONNES</strong><br />
			20<br />
		</div>
	</div>
	
	<div style="padding:10px;padding-top: 0px;">
		<button  type="button" style="width: 100px;" class="btn btn-danger navbar-btn"><strong>Suivre</strong></button>
		
		
		<blockquote>Jehjfsd sd fsdkfdf shjfh hjfshdfhjsdhf shfjh ds</blockquote>
	</div>
	
</div>
</html>